<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">IT Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button> &nbsp;
                        <!-- Navigation-->
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <!-- Nav content -->
                            <ul class="navbar-nav ml-auto">
                                <!-- If not logged in -->
                                <li th:if="${session.loginEmail == null}" class="nav-item">
                                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">
<!--                                        <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="로그인" class="icon-img" width="30px" height="30px">-->
                                        <i class="fas fa-sign-in-alt"></i> 로그인
                                    </a>
                                </li>
                                <!-- If logged in -->
                                <li th:if="${session.loginEmail != null}" class="nav-item">
                                    <a href="/users/logout" class="nav-link">
<!--                                        <img src="https://cdn-icons-png.flaticon.com/512/1828/1828479.png" alt="로그아웃" class="icon-img" width="30px" height="30px">-->
                                        <i class="fas fa-sign-in-alt"></i> 로그아웃
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Login Modal -->
                        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="loginModalLabel">로그인</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Login Form -->
                                        <form action="/users/login" method="post">
                                            <div class="mb-3">
                                                <label for="userEmail" class="form-label">이메일 주소</label>
                                                <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="이메일 주소를 입력하세요" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="userPW" class="form-label">비밀번호</label>
                                                <input type="password" class="form-control" id="userPW" name="userPW" placeholder="비밀번호를 입력하세요" required>
                                            </div>
                                            <div class="mb-3 form-check d-flex align-items-center justify-content-between">
                                                <div>
                                                    <input type="checkbox" class="form-check-input" id="keepLoggedIn" name="remember-me" value="true">
                                                    <label class="form-check-label" for="keepLoggedIn">자동 로그인</label>
                                                </div>
                                                <a href="/users/find-id-pw" class="text-info">아이디/비밀번호 찾기</a>
                                            </div>
                                            <div id="loginErrorData" data-login-error="${loginError}" style="display:none;"></div><br>
                                            <button type="submit" class="btn btn-primary w-100" id="loggedIn">로그인</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/users/register" class="btn btn-outline-success w-100" id="registered">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Completed Modal -->
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">IT 쇼핑몰</h1>
                    <p class="lead fw-normal text-white-50 mb-0">IT 쇼핑몰에 오신걸 환영합니다.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/4434414951782396-0046b204-9f46-48d4-9483-c50be7ba1cbf.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Apple 정품 아이폰 15 Pro 자급제, 화이트티타늄, 256GB </h5>
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    1,550,000원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 3rem">Sale</div>
                            <!-- Hot badge-->
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hot</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/2625653808702891-52aa57fa-0ddc-49a2-a6b3-2913d77b3793.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> 삼성전자 갤럭시 S24 Ultra 자급제, 티타늄 그레이, 256GB </h5>
                                    <!-- Product reviews-->
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">1,600,000원</span>
                                    1,570,000원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail9.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/586359210520905-2147f4c8-fc08-4dd9-aa2a-648a297d36d3.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> 삼성전자 갤럭시 워치6 40mm, 골드, 블루투스 </h5>
                                    <!-- Product reviews-->
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"> 329,000원</span>
                                    179,000원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail10.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/4929/95e0f32a8e807d7524085ce50e553903fcf032cdd941a072f1655735e8bf.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Toocki 67W PPS PD.3.0 c타입 3포트 멀티 초고속 충전기 어댑터 CtoC타입 100w 초고속 충전케이블, 블랙 </h5>
                                    <!-- Product reviews-->
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    16,700원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail6.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/2023/09/26/9/2/f207cd2d-20e7-4be0-9cf2-68d38158b639.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Apple 애플워치 9 GPS, 45mm, 미드나이트 / 미드나이트 스포츠 밴드, M/L </h5>
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">639,000원</span>
                                    601,830원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail9.coupangcdn.com/thumbnails/remote/292x292ex/image/vendor_inventory/68bd/2cb0363b3cd8189fdc26efc6a480b47c805828af7550b9f945e9d545f4a1.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Essager 29W C to 라이트닝 PD 고속충전 케이블, 1개, 1m, 블랙</h5>
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    3,400원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 3rem">Sale</div>
                            <!-- Hot badge-->
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Hot</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail7.coupangcdn.com/thumbnails/remote/230x230ex/image/retail/images/2023/09/19/17/3/2fc81db0-55e2-4571-aac2-4556b5e2e916.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"> Apple 2023 에어팟 프로 2세대 USB-C 블루투스 이어폰, 화이트 </h5>
                                    <!-- Product reviews-->
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"> 359,000원 </span>
                                    312,100원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://thumbnail7.coupangcdn.com/thumbnails/remote/230x230ex/image/vendor_inventory/9384/879a41f12b14a40b33c5df6cf377dc98eae815c05b5d4db1c64e29cbe220.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">  삼성전자 갤럭시 버즈2 프로, SM-R510N, 화이트  </h5>
                                    <!-- Product reviews-->
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"> 279,000원 </span>
                                    209,000원
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니에 담기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var loginError = [[${loginError != null}]];
            var errmsg = document.getElementById('loginErrorData');
            if (loginError) {
                $('#loginModal').modal('show');
                errmsg.style.display = 'block';
                errmsg.style.color = 'red';
                errmsg.innerText = '잘못된 이메일 주소 또는 비밀번호입니다. 다시 시도해 주세요.';
            }
        });
        </script>
    </body>
</html>
